* {
    margin: 0;
    padding: 0;
}

header {
    color: rgb(255, 61, 61);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container_menu {
    display: grid;
    grid-template-columns: 30% 70%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-family: 'Trebuchet MS';
}

.titol {
    padding-left: 21%;
    font-size: 24px;
    font-weight: bold;
}

.menu_container {
    display: grid;
    grid-template-columns: 14% 14% 14% 14% 14%;
}

.menu {
    font-size: 18px;
    color: rgb(255, 61, 61);
}

.section_activitats {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: rgb(255, 61, 61);
    color: white;
    padding-top: 5%;
    padding-bottom: 5%;
    font-family: 'Trebuchet MS';
}

.html {
    padding-left: 50%;
}

.css {
    padding-left: 35%;
}

.nom_activitats {
    font-size: 20px;
}

.exers {
    color: white;
}

footer {
    color: rgb(255, 61, 61);
}

.container_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
    padding-bottom: 3%;
    font-family: 'Trebuchet MS';
}

.nom {
    font-size: 21px;
}

.container_social_media {
    padding-left: 10%;
}

.social_media {
    width: 30px;
    height: 30px;
}

.container_copyright {
    text-align: center;
    padding-bottom: 1%;
    font-family: 'Trebuchet MS';
}