* {
    margin: 0;
    padding: 0;
}

.container_menu {
    display: grid;
    grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    font-family: 'Lucida Sans';


    border: 5px solid;
    border-color: rgb(255, 134, 134);
}

.menu {
    text-decoration: none;
    padding-top: 10%;
    padding-bottom: 10%;
}

.section_activitats {
    display: grid;
    grid-template-columns: 50% 50%;
}

.social_media {
    width: 30px;
    height: 30px;
}