* {
    margin: 0;
    padding: 0;
}

header {
    color: rgb(255, 61, 61);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container_menu {
    display: grid;
    grid-template-columns: 30% 70%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-family: 'Trebuchet MS';
}

.titol {
    padding-left: 21%;
    font-size: 24px;
    font-weight: bold;
}

.menu_container {
    display: grid;
    grid-template-columns: 14% 14% 14% 14% 14%;
}

.menu {
    font-size: 18px;
    color: rgb(255, 61, 61);
}

.section_sobre_mi {
    font-family: 'Trebuchet MS';
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 25vh;
}

.section_activitats {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: rgb(255, 61, 61);
    color: white;
    padding-top: 5%;
    padding-bottom: 5%;
    font-family: 'Trebuchet MS';
}

.html {
    padding-left: 37%;
}

.css {
    padding-left: 30%;
}

.nom_activitats {
    font-size: 20px;
}

.exers {
    color: white;
}

.section_formulari {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

form {
    padding: 50px 55px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
    width: 340px;
    font-family: 'Trebuchet MS';
}

.container_input {
    display: flex;
    flex-direction: column;
    text-align: left;
}

h2 {
    color: #283629;
    font-size: 35px;
}

label {
    color: #283629;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

input, textarea {
    padding: 17px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: rgb(255, 208, 208);
    border: 2px solid #F0FAF1;
    outline: none;
    font-family: 'Trebuchet MS';
}

input::placeholder, textarea::placeholder {
    color: rgb(255, 158, 158);
}

.button {
    font-size: 15px;
    color: white;
    border: 0;
    border-radius: 25px;
    background-color: rgb(255, 61, 61);
    box-shadow: 0 0 10px rgb(255, 0, 0);
    cursor: pointer;
}

.button:hover {
    background-color: rgb(255, 83, 83);
}

footer {
    color: rgb(255, 61, 61);
}

.container_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
    padding-bottom: 3%;
    font-family: 'Trebuchet MS';
}

.nom {
    font-size: 21px;
}

.container_social_media {
    padding-left: 10%;
}

.social_media {
    width: 30px;
    height: 30px;
}

.container_copyright {
    text-align: center;
    padding-bottom: 1%;
    font-family: 'Trebuchet MS';
}