* {
    margin: 0;
    padding: 0;
}

.container_menu {
    display: grid;
    grid-template-columns: 17.5% 15% 15% 15% 15% 17.5%;
    background-color: black;
}

.menu {
    text-decoration: none;
    color: white;
    padding-top: 6%;
    padding-bottom: 6%;
    font-family: 'Oswald', sans-serif;
    font-size: 21px;
}